/* Base config */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  text-shadow: inherit;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
  padding-left: 12px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-fcitx5,
#custom-mullvad,
#custom-protonvpn,
#custom-swayscratch,
#custom-timezones,
#custom-transmission,
#custom-weather,
#memory,
#mode,
#network,
#pulseaudio,
#workspaces {
  padding-right: 12px;
}

#custom-fcitx5 {
  font-size: 12px;
}

#custom-timezones {
  font-weight: bold;
}
